<div class="container">
	<div class="row">
		<div id="navi">
			<h2 id="navh2"> Navigation Bar </h2>
			<ul>
				<li><a class = "link text-secondary" href="/title">Back to home page</a></li>
				<li><a class = "link text-secondary" href="/user"> Back to User's Page </a></li>
			</ul>
		</div>
	</div>
</div>
	
<div class="container backg" style="display: inline-block; margin-left: 11.3%">
	<div style="padding-top:30px" class = "row">
		<div class = "w-60 mx-auto">
			<h3 class="undT">Current Name: </h3><h3>{{list.name}}</h3> 
		</div>
	</div>

	<div style="padding-top:30px" class = "row">
		<div class = "w-60 mx-auto">
			<h3 class="undT">New Name: </h3>
		</div>
	</div>

	<div style="padding-bottom:10px" class = "row">
		<div class = "w-60 mx-auto">
			<form method="POST" action="" id="form1">  <input type="text" name="newName"> </form>
		</div>
	</div>

	<div style="padding-bottom:30px" class = "row">
		<div class = "w-60 mx-auto">
			<button type="submit" form="form1"  name="editName">Change Name</button>
		</div>
	</div>


</div>