<div class="container-fluid backg">
	<h2 class ="text-info"> Create New User / Login </h2>
	<form method="POST" action="" id="form1">
	
	<div class = "row">
			<div class = "col-4 text-info">
				Username:  
			</div>

			<div class = "col-8">
				<input type="text" name="username">
			</div>
	</div>

	<div class = "row">
			<div class = "col-4 text-info">
				Password:  
			</div>
			<div class = "col-8">
				<input type="text" name="password">
			</div>
	</div>

	</form>
	<div class = "row">
		<div class = "col-4">
			<button type="submit" form="form1"  name="addUser">Create New User</button>
			<button type="submit" form="form1" name="login">Log In</button>
		</div>
	</div>

	<p class="text-secondary"> You must create or login into an account in order to use this site. </p>

</div>
