<h2> Create New User / Login </h2>
<form method="POST" action="" id="form1">
		<div class= "add">Username:  <input type="text" name="username"></div>
		<div class = "add">Password:  <input type="text" name="password"></div>
</form>
<div class = "add"><button type="submit" form="form1" value="Add User">Create New User / Log In</button></div>