<!DOCTYPE html>
<head>
<title>VOD Center</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<div style="text-align: center;">
    <img src="/img/logo.svg" height="80" width="80" style=""><br><h1> VOD Center</h1>
</div>
</head>
<body>
	{{{ body }}}
</body>
</html>