


	<a class = "link text-secondary" href="/title">Back to home page</a>
	<a class = "link text-secondary" href="/user"> Back to User's Page </a>

	<h1><img src="/img/fun.gif" height="200" width="400" style=""></h1>
	
	<h2> Create New List</h2>
	<form method="POST" action="" id="form1">
	
	<div class = "row">
			<div class = "col-4">
				Name:  
			</div>

			<div class = "col-8">
				<input type="text" name="listname">
			</div>
	</div>
	</form>
	<div class = "row">
		<div class = "col-4">
			<button type="submit" form="form1"  name="createNewList">Create New List</button>
		</div>
	</div>
