<div class = "container">
<h1><img src="/img/hellothere.gif" height="200" width="400" style=""><br><h1> Page in Progress </h1>

	<a class = "link" href="/title">Back to home page</a>
	<a class = "link" href="/title/user"> Back to User's Page </a>
	
	<h2> Create New List</h2>
	<form method="POST" action="" id="form1">
	
	<div class = "row">
			<div class = "col-4">
				Name:  
			</div>

			<div class = "col-8">
				<input type="text" name="listname">
			</div>
	</div>
	</form>
	<div class = "row">
		<div class = "col-4">
			<button type="submit" form="form1"  name="createNewList">Create New List</button>
		</div>
	</div>

</div>