html {
    background: grey;
    color: #000000;
    font-family: Roboto, sans-serif;
}

a {
    padding: 5px;
    color: #000000;
    text-underline-offset: 5px;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.title {
    text-align: center;
}
.table {
    padding-top: 45px;
    display: table;
}

td {
    padding-right: 30px;
}

.grid-item {
    height: 10vw;
    object-fit: cover;
}

.search {
    text-align: center;
    
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.link {
    padding-top: 15px;
    font-weight: bold;
    text-decoration: underline;
}

h4.info, h3.info {
    text-decoration: underline;
}